
.footer {
    text-align: center;
}

.listBackgr {
    background-color: gainsboro;
}

.listBackgr .webix_list_item {
    border:none;
}

.greentext .webix_el_box {
    color: green;
}

.myhover.webix_cell{
    background: gainsboro;
}
.close {
    float: right;
}

.webix_list_item.back {
    background-color: gainsboro;
}