
.footer {
    text-align: center;
}

.listBackgr  {
    background-color: gainsboro;
}

.webix_list_item {
    border:none;
}
.greenbutton .webix_icon_btn.wxi-check {
    color: green;
}

.greentext .webix_button {
    color: green;
}


